<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/Store.css' %}">
</head>

<body>
    <div class="nav">
        <div class="title">
            Trade It!
        </div>
        <div class="middle-section">
            <a href="/">
                <div class="logo1a">
                    <div class="logo1">
                        {% load static %}
                        <img src="{% static 'Resources/Home.png' %}" alt="Not found"/>
                    </div>
                    <div class=logo-title1>
                        HOME
                    </div>
                </div>
            </a>    

            <div class="logo2a">
                <div class="logo2">
                </div>
                <div class="logo-title2">
                    STORE
                </div>
            </div>
            
            <a href="/Sell/">
                <div class="logo3a">
                    <div class="logo3">
                    </div>
                    <div class="logo-title3">
                        SELL ZONE
                    </div>
                </div>
            </a>
            
            <a href="/saved/">
                <div class="logo4a">
                    <div class="logo4">
                    </div>
                    <div class="logo-title4">
                        SAVEDITEMS
                    </div>
                </div>
            </a>

            <a href="/notification/">
                <div class="logo5a">
                    <div class="logo5">
                    </div>
                    <div class="logo-title5">
                        NOTIFICATIONS
                    </div>
                </div>
            </a>
            <a href="/setting/">
                <div class="logo6a">
                    <div class="logo6">
                    </div>
                    <div class="logo-title6">
                        SETTINGS
                    </div>
                </div>
            </a>
        </div>

        <div class="bottom-section">
            <div class="profile">
            </div>
            <div class="profile-title">
                Hrishi
            </div>
        </div>
    </div>
</body>
{% load static %}
<script src="{% static 'Gerenal.js' %}"></script>
</html>